<%= form_for(@brain) do |f| %>
  <% if @brain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brain.errors.count, "error") %> prohibited this brain from being saved:</h2>

      <ul>
      <% @brain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %><br />
  </div>

  <div class="field">
    <%= f.label :classifier_type %><br />
    <%= f.select :classifier_type, options_for_select(["LSI", "Bayes"]) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
