<h1>Listing brains</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
  </tr>

<% @brains.each do |brain| %>
    <tr>
        <td><%= brain.name %></td>
        <td><%= brain.classifier_type %></td>  
        <td><%= link_to 'Show', brain %></td>
        <td><%= link_to 'Edit', edit_brain_path(brain) %></td>
        <td><%= link_to 'Destroy', brain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
<% end %>
</table>

<br />

<%= link_to 'New Brain', new_brain_path %>
