<h1><%= @brain.name %></h1>

<%= render "train_form" %>
<br/>
<%= render "test_form" %>

<div id="results">
    <p id="notice"><%= notice %></p>
</div>




<%= link_to 'Edit', edit_brain_path(@brain) %> |
<%= link_to 'Back', brains_path %>
