<h1><%= @brain.name %></h1>

<%= render "test_form" %>

<div id="results">
    <p id="notice"><%= notice %></p>
</div>

<h3>Trained Phrases</h3>
<table>
    <tr>
        <th>Phrase</th>
        <th>Category</th>
    </tr>
    <% @classifier.items.each do |item| %>
    <tr>
        <td><%= item %></td>
        <td><%= @classifier.categories_for(item).inspect %></td>
        <td><%= link_to 'Delete Phrase', "/brains/#{@brain.name}/delete_item/#{@classifier.items.index(item)}", method: :post, data: { confirm: 'Are you sure?' }%></td>
    </tr>
    <% end %>
</table>




<%= link_to 'Edit', edit_brain_path(@brain) %> |
<%= link_to 'Back', brains_path %>
